- @profiles.each do | profile |
  = raw rouge_markdown(profile.about)

  = link_to 'edit', edit_profile_path(profile)
  = link_to 'delete', profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' }
