- @profiles.each do | profile |
  = simple_format profile.about
= image_tag('3.jpg', width: '100%')
%center
  %span.image-caption-bg I'm in the middle, my friend in the left, and my young brother in the right side
