- @categories.each do | category |
  %li
    = link_to category.name.titleize, category_path(category)
    - if current_user
      |
      = link_to 'edit', edit_category_path(category)
      = link_to 'delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }
