.footer
  .text-center
    = link_to 'https://github.com/ndgspn', target: '_blank' do
      %i.fa.fa-github
    = link_to 'https://id.linkedin.com/in/nandang-sopyan-380957166', target: '_blank' do
      %i.fa.fa-linkedin
